%{erl_opts, [{src_dirs, ["contrib/misc/src"]}]}.
{erl_opts, [
	{parse_transform, lager_transform}
]}.

{sub_dirs, ["rel"]}.

{deps, [
	{'OpenACD', ".*", {git, "http://github.com/OpenACD/OpenACD.git", ""}},
	{lager, ".*", {git, "http://github.com/basho/lager.git", ""}}
]}.

{post_hooks, [
	{compile, "./post_hooks.sh compile"},
	{'get-deps', "./post_hooks.sh get-deps"}
]}.
