{sys, [
       {lib_dirs, ["../deps", ".."]},
       {rel, "oacd_bots", "1",
        [
         kernel,
         stdlib,
         sasl,
         oacd_bots
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "oacd_bots"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, oacd_bots, [{incl_cond, include}]}
      ]}.

{target_dir, "oacd_bots"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/oacd_bots", "bin/oacd_bots"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
